//variables
$breakpoint: 768px;
$btn-and-content-color: #ff6060;

//keyframes
@keyframes dropdown-arrow-initial {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes dropdown-arrow-reverse {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes content-appear {
  0% {
    height: 0;
    color: transparent;
    padding: 0 0 0 18px;
  }

  100% {
    color: $btn-and-content-color;
    height: 100%;
    padding: 27px 27px 19px 18px;
  }
}

@keyframes content-desappear {
  0% {
    color: $btn-and-content-color;
    height: 100%;
    padding: 27px 27px 19px 18px;
  }

  100% {
    height: 0;
    color: transparent;
    padding: 0 0 0 18px;
  }
}
/*****************************/

.dropdown-btn {
  display: flex;
  flex-direction: column;
  margin: 0 208px 38px 208px;
  gap: 30px;
  @media (max-width: $breakpoint) {
    gap: 20px;
    margin: 0 20px 20px 20px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;

    .btn-dropdown {
      display: flex;
      justify-content: space-between;
      color: white;
      border: none;
      width: 100%;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
      background: $btn-and-content-color;
      @media (max-width: $breakpoint) {
        padding: 10px 0 10px 10px;
      }

      .arrow {
        cursor: pointer;
      }
      .arrow-active {
        animation: dropdown-arrow-initial 0.3s ease-out forwards;
      }
      .arrow-deactive {
        animation: dropdown-arrow-reverse 0.3s ease-out forwards;
      }
    }

    .dropdown-content {
      border-radius: 5px;
      background: #f6f6f6;
      color: $btn-and-content-color;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      padding: 0;
      height: 0;
    }
    .content-fade-in {
      animation: content-appear 0.35s ease-in forwards;
    }
    .content-fade-out {
      animation: content-desappear 0.35s ease forwards;
    }
  }
}
