$breakpoint: 768px;

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 209px;

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 68px;
    margin-bottom: 29px;

    @media (max-width: $breakpoint) {
      justify-content: center;
      margin-top: 66px;
      margin-bottom: 58px;
    }
  }

  .footer-desc {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $breakpoint) {
      font-size: 12px;
    }
  }
}
