$breakpoint: 768px;

.card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 43px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  background: #f6f6f6;
  margin: 0 100px 50px 100px;
  @media (max-width: $breakpoint) {
    padding: 0;
    margin-bottom: 27px;
    background: white;
    row-gap: 20px;
  }

  .card {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    @media (max-width: $breakpoint) {
      width: 335px;
      height: 255px;
    }

    &--title {
      position: absolute;
      left: 5%;
      bottom: 5%;
      color: white;
      z-index: 2;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
    }

    &--img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
      opacity: 0.75;
      border-radius: 10px;
    }
  }
}
