$breakpoint: 768px;

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 50px 0 50px;

  @media (max-width: $breakpoint) {
    margin: 20px;
  }

  .logo {
    @media (max-width: $breakpoint) {
      width: 145px;
      height: auto;
    }
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    gap: 57px;
    @media (max-width: $breakpoint) {
      gap: 26px;
    }

    a {
      color: #ff6060;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      @media (max-width: $breakpoint) {
        font-size: 16px;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
